# no version needed since 2020

services:
  jekyll:
    build:
      context: .
      args:
        - "--livereload"

    image: bretfisher/jekyll-serve
    volumes:
      - .:/site
    ports:
      - '4000:4000'
    environment:
      - JEKYLL_ENV=production
