<!-- Non Mobile Mode-->
<div class="fixed bottom-0 h-6 bg-gruvbox-bg-light flex items-center text-xs w-full select-none not-md:hidden">
    <div class="bg-gruvbox-green text-gruvbox-bg-dark font-bold px-3 h-full flex items-center">
        <i class="fa-solid fa-code mr-2"></i> VISUAL 
    </div>
    
    <div class="bg-gruvbox-bg-dark text-gruvbox-purple px-3 h-full flex items-center gap-2">
        <i class="fa-solid fa-code-branch"></i>
        <span>main</span>
    </div>

    <div class="px-3 text-gruvbox-fg flex items-center gap-2">
        <span class="text-gruvbox-gray">/root/</span>main.go
        <i class="fa-solid fa-lock-open text-gruvbox-green ml-1"></i>
    </div>

    <div class="flex-1"></div>

    <div class="flex items-center gap-3 px-3 not-md:hidden">
        <a class="text-gruvbox-aqua fa-brands fa-github" style="text-decoration: none;" href="https://github.com/gloof11"></a>
        <a class="text-gruvbox-fg fa-brands fa-mastodon" style="text-decoration: none;" href="https://discuss.systems/@gloof"></a>
        <a class="text-gruvbox-red fa-brands fa-youtube" style="text-decoration: none;" href="https://www.youtube.com/@gloof9822"></a>
    </div>

    <div class="bg-gruvbox-bg_dark text-gruvbox-blue px-3 h-full flex items-center gap-3 not-md:hidden">
        <span>utf-8</span>
    </div>
    <div class="bg-gruvbox-blue text-gruvbox-bg-dark font-bold px-2 h-full flex items-center not-md:hidden">
        <span>100%</span>
    </div>
    <div class="bg-gruvbox-yellow text-gruvbox-bg-dark font-bold px-2 h-full flex items-center not-md:hidden">
        <i class="fa-solid fa-grip-lines"></i>
    </div>
</div>

<!-- Mobile Mode-->
<div class="fixed bottom-0 h-6 bg-gruvbox-bg-light flex items-center text-xs w-full select-none md:hidden">
    <div class="flex items-center gap-3 px-3">
        <a class="text-gruvbox-aqua fa-brands fa-github" style="text-decoration: none;" href="https://github.com/gloof11"></a>
        <a class="text-gruvbox-fg fa-brands fa-mastodon" style="text-decoration: none;" href="https://discuss.systems/@gloof"></a>
        <a class="text-gruvbox-red fa-brands fa-youtube" style="text-decoration: none;" href="https://www.youtube.com/@gloof9822"></a>
    </div>
</div>
